body {
    background-color: #f7f7f7;
    margin: 0;
    overflow: hidden;
}

.interstitial-wrapper {
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

.runner-container {
    direction: ltr;
    height: 150px;
    max-width: 600px;
    overflow: hidden;
    position: absolute;
    top: 35px;
    width: 100%;
}

.runner-canvas {
    height: 150px;
    max-width: 600px;
    opacity: 1;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 10;
}
